* {

    font-family: 'Limelight', sans-serif; 
    color: rgb(255, 236, 130);
    text-shadow:
      0 0 7px rgb(255, 255, 255),
      0 0 10px rgb(234, 216, 155),
      0 0 21px rgb(234, 216, 155),
      0 0 42px #feb813,
      0 0 82px #feb013;
      background-image: url("https://cdn.pixabay.com/photo/2014/11/30/17/15/theater-551797_1280.jpg");
      background-size: cover;
      background-attachment: fixed;
      background-position: 80%;
      ;
  
  }
  
  button {
      font-family: "Limelight", sans-serif;
  }
  .hero {
      margin-top: 30px;
      width: 100%;
      display: inline-block;
  }
  
  .hero h1 {
      font-size: 60px;
      background-image: 
     
  }
  
  .hero h3 {
      font-size: 30px;
      margin-top: 20px;
  }

  .hero button {
    height: 40px;
    font-size: 25px;
  }
  .hero input {
    height: 40px;
  }
  .columns {
      margin-right: 40px;
      margin-left: 40px;
  }
  
  .column {
      width: 450px;
      height: 667px;
      text-align: center;
      margin-bottom: 40px;
      font-size: 30px;
  }
  
  
  .poster-img {
  width: 400px;
  height: 550px;
  box-shadow:  0 0 7px #fff,
  0 0 10px #fff,
  0 0 21px #fff,
  0 0 42px #feb813;
  }
  
  span {
      background-color: rgba(0, 0, 0, 0);
  }

/* Everything Below is Taken From W3 Schools for Modals Tutorial, link for reference: https://www.w3schools.com/howto/howto_css_modals.asp */
/* Comments and specific dimensions will be edited later to fit our application */

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }