* {

    font-family: 'Limelight', sans-serif; 
    color: white;
    text-shadow:
      0 0 7px rgb(255, 255, 255),
      0 0 10px rgb(234, 216, 155),
      0 0 21px rgb(234, 216, 155),
      0 0 42px #feb813,
      0 0 82px #feb013;
      background-image: url("https://cdn.pixabay.com/photo/2014/11/30/17/15/theater-551797_1280.jpg");
      background-size: cover;
      background-attachment: fixed;
      background-position: 80%;
      
  
  }

  .hero input {
    font-family: "Limelight", sans-serif;
    font-size: 25px;
    color: white;
    
  box-shadow:  0 0 7px #fff,
    0 0 10px inset #fff,
    0 0 21px inset #fff,
    0 0 42px inset #feb813;
  }

  #searchBtn {
      margin-top: 10px;
      font-family: "Limelight", sans-serif;
      font-size: 20px;
      color: rgba(17, 14, 47, 0.956);
      border-radius: 10px;
      box-shadow:  0 0 7px inset #fff,
       0 0 10px inset #fff,
      0 0 21px inset #fff,
      0 0 42px inset #feb813;
  }
#searchBtn:hover {
  box-shadow:  0 0 7px inset #fff,
  0 0 10px inset #fff,
  0 0 21px inset #fff,
  0 0 42px inset #9c6d02;
}
#searchBtn:active {
  box-shadow:  0 0 7px inset #fff,
  0 0 10px inset #fff,
  0 0 21px inset #fff,
  0 0 42px inset #9c6d02;

  transform: translateY(4px);
}
.hero {
      position: relative;
      margin-top: 20px;
      margin-bottom: 10px;
      width: 100%;
      display: inline-block;  
  }
  
  .hero h1 {
      position: absolute;
      top: 227px;
      left: 133px;
      font-size: 60px; 
      color:rgba(17, 14, 47, 0.956) ;
      background-color:rgba(255, 255, 255, 0.699)   
  }

  .hero form {
    position: absolute;
    top: 200px;
    left: 700px; 
  }

  .hero p {
  color:#fff;
  font-size: 20px;
  width: 75%;
  }

  .hero-body {
    padding-top: 10px;
  
  }
  .hero button {
    height: 40px;
    font-size: 25px;
    font-family: "Limelight", sans-serif;
    
  }
  .hero input {
    height: 40px;
    color:rgba(17, 14, 47, 0.956);
    margin-top: 10px;  
  }
  .columns {
      margin-right: 40px;
      margin-left: 40px;
  }
  
  .column {
      width: 450px;
      height: 667px;
      text-align: center;
      margin-top: 10px;
      margin-bottom: 40px;
      font-size: 30px;
  }
  
  .poster-img {
  width: 400px;
  height: 550px;
  box-shadow:  0 0 7px #fff,
  0 0 10px #fff,
  0 0 21px #fff,
  0 0 42px #feb813,
  0 0 42px #f0d49192
  }
  
  span {
      background-color: rgba(0, 0, 0, 0);
  }



/* Modal */
.modal-card {
  background-color: rgb(192, 206, 218);
  border: double rgba(17, 14, 47, 0.956);
  box-shadow: 0 0 7px #fff,
  0 0 10px #fff,
  0 0 21px #fff,
  0 0 42px #feb813,
  0 0 42px #f0d49192
}

.movie-plot {
  color:rgba(17, 14, 47, 0.956);
  text-shadow: none;
}

.modal-suubmit {
  text-align: center;
  font-family: "Limelight", "sans-serif";
  font-size: 40px;
}

  

.is-active  {
background-image: url("https://cdn.pixabay.com/photo/2014/02/10/22/49/curtain-263731_1280.jpg")
}

  /* Media Queries */

  @media (max-width: 641px){
    #marquee-img {
      height: 0%;
      width: 0%;
    }
    .hero h1 {
      position: static;
    }
  }